
@use '../../styles/variables';

.listaCadernos{
  height: 100%;

  &__lista{
    flex-wrap: wrap;
    gap: variables.$m-18;

    li{
      height: 13.75rem;
      width: 11.25rem;
      box-sizing: border-box;
      border-left: 6px dashed;
      cursor: pointer;
    }
  }

  &__info{
    height: 100%;
    justify-self: center;
    
    &__text{
      color: tomato;
    }
  }
}