@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

html,body{
  *{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: .3px;
  }
}

.rdw-editor-main{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 14px;
  max-height: 600px;
}